@import url(https://fonts.googleapis.com/css?family=Roboto:400);

* {
  box-sizing: border-box;
}
[hidden] { display: none !important; }

body {
  font-family: "Open Sans", Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  margin: 0;
  padding: 0;
  color: black;
  background: #F7F8FC;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3 {
  font-family: "IBM Plex Mono", monospace;
  color: #3E58E8;
}

h1 {
  font-size: 2em;
}

[hidden] {
  display: none !important;
}

.wrapper {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}
.settings {
  background: white;
  padding: 24px;
  width: 310px;
  min-width:310px;
  transition: .5s all;
  overflow: hidden;
  position: relative;
}

.settings label, .settings input {
  font-size: 14px;
}
.settings.hide {
  width: 0;
  min-width: 0;
  padding: 0;
}

#drawerBtn {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 0;
  font-weight: 900;
}

.main {
  padding: 24px;
}

.setting {
  text-align: left;
  margin-bottom: 8px;
  position: relative;
}

.setting label {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 5px;
  margin-right: 14px;
  width: 150px;
}

input[type="number"], select {
  width: 80px;
  height: 30px;
  margin-right: 4px;
  padding: 8px 10px;
  border: 0;
  background: #EFF0F6;
  color: #3F59E8;
  border-radius: 5px;
}

select {
  vertical-align: middle;
}

button, .button {
  -webkit-appearance: none;
  display: inline-block;
  margin: 0;
  margin-right: 8px;
  padding: 8px 24px;
  border: 0;
  font-family: inherit;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  border: 2px solid #F1F2F6;
  border-radius: 5px;
  background: white;
  color: #573F8F;
  font-weight: bold;
  letter-spacing: 2px;
  transition: all 0.2s linear;
  vertical-align: middle;
}

.button:link, .button:visited {
  text-decoration: none;
}

button:hover, .button:hover {
  color: white;
  background: #3E58E8;
  border-color: #3E58E8;
}

button.no-border {
  border: none;
  padding: 0;
}

input[type="file"] {
  width: 0;
  height: 0;
  opacity: 0;
  cursor: pointer;
  display: none;
}

/*******
 * Attention
 *******/

svg {
  display: block;
  background: white;
}

#music rect {
  pointer-events: all;
  margin: 0 2px;
  transition: fill 0.2s linear;
}

#music rect.hover:hover {
  opacity: 0.5;
}
#music rect.playing {
  fill: hotpink;
}
#music rect.current, rect.current-all {
  fill: #EB53A6;
  xoutline: 2px dashed #EB53A6;
  xoutline-offset: 10px;
}
/* #music[whole-step] rect.current,
#music[whole-step] rect.current-all {
  outline: none;
} */
#music rect.attention-all {
  xfill: white;
  xstroke-width: 1;
  xstroke: black;
  rx: 2;
}
#music rect.attention-all-colors {
  fill: white;
  stroke-width: 1;
  stroke: black;
  rx: 2;
}
#music[no-paths] rect.attention-all {
  fill: #ff1744;
  stroke-width: 0;
}
#music[weird-mode] rect.attention-all {
  fill: rgb(84, 110, 122);
  stroke-width: 0;
}

/* #music[double] rect.attention-all {
  fill: #e6194B;
  stroke-width: 0;
}
#music[double] rect.attention-all.second {
  fill: #3cb44b;
} */
#music rect.no-attention-all {
  fill: #F3F3F7;
}
#music svg path {
  pointer-events: none;
}
#velocities {
  margin-top: 4px;
}

/*******
 * Head selection checkboxes
 *******/
#headColors {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 40px;
  min-width: 20px;
}

#headColors input[type="checkbox"] {
  width: 0;
  height: 0;
  opacity: 0;
}
#headColors input[type="checkbox"] + label {
  cursor: pointer;
  display: inline-block !important;
  width: 30px;
  height: 30px;
  border: 3px solid transparent;
  margin-right: 8px;
}
#headColors input[type=checkbox]:checked + label {
  border: 3px solid black;
}

#stepText {
  font-weight: bold;
  height: 30px;
}

/*******
 * Heatmap
 *******/
#heatmap {
  margin-top: 24px;
}
