@import url(https://fonts.googleapis.com/css?family=Roboto:400);

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  margin: 2em;
  color: black;
  background: #F5F6FA;
}

[hidden] {
  display: none !important;
}
.setting {
  text-align: left;
  margin-right: 8px;
  display: inline-block;
  position: relative;
}

.setting label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  margin-right: 14px;
  font-size: 14px;
}

select {
  vertical-align: middle;
}

b {
  color: black;
}

h1 {
  font-style: italic;
  color: #373fff;
}

button, .button {
  -webkit-appearance: none;
  display: inline-block;
  margin: 0;
  margin-right: 8px;
  padding: 4px 16px;
  border: 0;
  font-family: inherit;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  border: 2px solid#573F8F;
  border-radius: 5px;
  background: transparent;
  color: #573F8F;
  font-weight: bold;
  letter-spacing: 1px;
  transition: background 0.2s linear;
  vertical-align: middle;
}

button:hover, .button:hover {
  color: white;
  background: #573F8F;
}

button.no-border {
  border: none;
  padding: 0;
}
button svg {
  background: transparent;
  fill: #573F8F;
}
button:hover svg {
  fill: white;
}

svg {
  display: block;
  background: white;
}

#time, #velocities {
  height: 40px;
}

#velocities {
  border-top: 1px solid black;
}

rect {
  pointer-events: all;
  margin: 0 2px;
  transition: fill 0.2s linear;
}
rect.hover:hover {
  opacity: 0.5;
}

rect.current, rect.current-all {
  /* outline-offset: -4px;
  outline: 4px solid black; */
  fill: #EB53A6;
}

rect.attention-all {
  fill: #83F85B;

}

rect.no-attention-all {
  fill: #F3F3F7;
}

svg path {
  pointer-events: none;
}

input[type="file"] {
  width: 0;
  height: 0;
  opacity: 0;
  cursor: pointer;
  display: none;
}

input[type="number"], select {
  width: 80px;
  height: 30px;
  margin-right: 14px;
  padding: 8px 10px;
  font-size: inherit;
  border: 0;
  background:white;
}

/* Head selection checkboxes */
#gradient input[type="checkbox"] {
  width: 0;
  height: 0;
  opacity: 0;
}
#gradient input[type="checkbox"] + label {
  cursor: pointer;
  display: inline-block !important;
  width: 30px;
  height: 30px;
  border: 4px solid transparent;
}
#gradient input[type=checkbox]:checked + label {
  border: 4px solid black;
}

#stepText {
  font-weight: bold;
  height: 30px;
}

#gradient {
  display: flex;
  align-items: center;
  min-height: 40px;
  min-width: 20px;
}
